<h1>TTRPG Generator</h1>

<form>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">History:</label>
        <textarea class="form-control" id="message-text"></textarea>
    </div>
</form>
&nbsp
<%= link_to options_1_path, class: "btn btn-primary text-white", remote: true do %>
    1
<% end %>
