<div class="p-5 bg-light rounded m-3 text-center">
<h1 class="display-4 fw-normal">Gerador de RPG</h1>
<br><br>
<form>
    <div class="mb-3">
        <h3>Histórico:</h3>
        <textarea class="form-control" id="message-text" disabled="disabled" rows="8"></textarea>
    </div>
</form>
&nbsp
<%= link_to options_one_path, class: "btn btn-primary text-white", remote: true do %>
    1
<% end %>
</div>
