<div class="p-5 bg-light rounded m-3">
    <h1 class="display-4 fw-normal text-center">Gerador de RPG</h1>
    <br><br>
    <form>
        <div class="mb-3">
            <h3>Histórico:</h3>
            <textarea class="form-control" id="message-text" disabled="disabled" rows="8"></textarea>
        </div>
    </form>
    &nbsp
    <div id="controlArea" style="display: flex;"><!-- Buttons area -->
        <div id="Column" style="float: left; padding: 2px; height: 100%; overflow: auto; width: 100%"><!-- Column 1 -->
            <div id="Row" class="mb-2"><!-- Row 1 -->
                <span>Conseguir resposta</span>&nbsp
                <%= render "static_pages/buttons/answer" %>
            </div>
            <div id="Row" class="mb-2"><!-- Row 2 -->
                <span>Rolar dado</span>&nbsp
                <%= render "static_pages/buttons/dices" %>
            </div>
        </div>
    </div>
</div>
