<div class="p-5 bg-light rounded m-3">
<h1 class="display-4 fw-normal text-center">Tutoriais</h1>
<br><br>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Dados
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Caso precise rodar um dado, selecione o botão com a quantidade de lados desejada!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Mecânica de perguntas
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Faça uma pergunta, essa pergunta precisa ser formulada de forma que possa ser respondida com uma das três palavras a seguir: <b>sim</b>, <b>não</b>, <b>talvez</b>.<br>
        Dadas todas as circunstâncias, qual é a probabilidade da resposta ser sim? <b>Impossível?</b> Uma <b>certeza?</b><br>
        Com a pergunta feita, clique no gerador de respostas e tenha a resposta para sua pergunta.<br>
        Caso a resposta precise ser respondida com <b>sim</b> ou <b>não</b> e tenha caído <b>talvez</b> em sua rolagem, rode a opção <b>50/50</b> para obter esta resposta.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>
</div>
