<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">by <a href="https://github.com/mateusflorez" target="blank" style="text-decoration: none; color: #000000">Mateus Paz</a></div>
            <div class="text-muted">
                Feel free to give me a <a href="https://github.com/mateusflorez/ttrpg-generator" target="blank" style="text-decoration: none; color: #000000">star</a>
            </div>
        </div>
    </div>
</footer>
