<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to root_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" do %>
            <%= image_tag("d20", size: "40") %>
        <% end %>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to "Gerador", static_pages_index_path, class: "nav-link px-2 link-dark" %></li>
            <li><%= link_to "Tutoriais", tutorial_path, class: "nav-link px-2 link-dark" %></li>
        </ul>
        </div>
    </div>
</header>
