</button>
    </h2>
    <div id="flush-collapse<%= number %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= number %>" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
